.leaflet-control-gmaps-link {
  background-image: url(icon-googlemapslink.png);
}

.leaflet-retina .leaflet-control-gmaps-link {
  background-image: url(icon-googlemapslink-2x.png);
  background-size: 26px 26px;
}
